
.interviewee_tooltip {
    /* for some reason carofredsel adds a right margin occasionally */
    margin-right:0px!important;
    padding-bottom:20px;
} 


.interviewee_tooltip:hover, .interviewee_tooltip:focus {
   border:none!important;
   color:white;
   outline: none;
} 

.tooltip { 
    z-index:100000;
    position: fixed;
}

.carousel {
	position: relative;
	overflow: hidden;
}
.carousel,
.interviewee_scroller,
.caroufredsel_wrapper,
.carousel_container  {
	height: 43px !important;
}
	.carousel_container {
		overflow: hidden;
		width: 345px;
		position: absolute;
		left: 35px;
		-webkit-transform: translate3d(0, 0, 0);
	}
	

	
.interviewee_selector {
	margin-right: 1px!important;
	width: 68px;
	/*height: 52px;*/
	display:inline-block;
	vertical-align: top;
}

.interviewee_selector:hover {
	cursor: pointer;
	border-bottom: 2px solid $talking-jobs-red;
}

.carousel .selected {
	border-bottom: 5px solid $talking-jobs-red;
}

.carousel .carousel_next,
.carousel .carousel_prev {
	display: block !important;
	overflow: hidden;
	text-indent: -500px;
	width: 33px;
	height: 39px;
	position: absolute;
	top: 0;
	visibility: visible;
}

.carousel .carousel_controls:hover {
	background-position: 0 -39px;
}

.carousel .carousel_prev{
	left: 0;
	background-image: url( $skin + "btn_carousel_left_arrow.png");
	background-repeat: no-repeat;
	margin-right:1px;
}

.carousel .carousel_next{
	background-image: url( $skin + "btn_carousel_right_arrow.png");
	background-repeat: no-repeat;
	right: 0;
}


@media only screen  and (max-width: 480px) {
	.carousel {
		display : none;
	}
}

/*
@media (max-width: 767px) {
	
	.carousel .carousel_next,
	.carousel .carousel_prev {
		margin-top: -2px;
	}
	
	.interviewee_selector {
		width: 65px;
	}
}


@media (max-width: 979px) and (min-width: 768px) {
	.carousel_container {
		width: 346px;
	}
}

@media (min-width: 1200px) {
	.carousel_container {
		width: 472px;
	}
	

	
	.interviewee_selector {
		width: 67px;
		height: 39px;
	}
}
*/