.question_sent { 
    margin-top:100px;
}

.reflections_alert { 
    width:100px;
    position:absolute;
    right:0px;
    z-index:100000;
}

.question_alert { 
    width:100px;
    position:absolute;
    right:0px;
    z-index:100000;
}