.fav_wrapper {
	position: relative;
	margin-bottom: 20px;
	border-bottom: 1px solid $player-edging-colour;
	padding-bottom: 10px;
}


.fav_wrapper .question_holder {
	padding: 10px;
	background: white;
	border: 1px solid $tab-edging-colour;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	width: 93%;
}

.fav_wrapper .fav_play,
.fav_wrapper .fav_delete {
	position: absolute;
	top: -5px;
}

.fav_wrapper .fav_question_number, 
.fav_wrapper .fav_question {
	/*position: absolute;
	font-size: 18px;
	width: 50px;
	text-align: center;
	top: 0px;*/
	float: left;
}

.fav_wrapper .fav_question {
	width: 80%;
	margin-left: 10px;
}

.fav_wrapper .fav_play {
	background-image: url($skin + "btn_play.png");
	background-repeat: no-repeat;
	left: 0;
	width: 30px;
	height: 30px;
	padding: 0;
	display: block;
	overflow: hidden;
	text-indent: -500px;
	border: none;
	box-shadow: none
}

.fav_wrapper .fav_play:hover{
	background-position: 0 0;
}

.fav_wrapper .fav_delete {
	right: 10px;
	background-image: url($skin + "btn_delete.png");
	background-repeat: no-repeat;
	width: 30px;
	height: 30px;
	padding: 0;
	display: block;
	overflow: hidden;
	text-indent: -500px;
	border: none;
	box-shadow: none
}

.fav_wrapper .content {
	margin-left: 0px;
	width: 100%;
}

.fav_wrapper .fav_job_title {
	font-size: 17px;
	font-weight: bold;
	margin-bottom: 10px;
	display: block;
	margin-left: 35px;
}

.fav_wrapper .content textarea{
	width: 95%;
	min-width: 95%;
	max-width: 95%;
	background: #e7e5e7;
}

.fav_wrapper .content .view_transcript {
	margin-top: 20px;
	background-image: url($skin +  "transcript_arrow.png");
	background-repeat: no-repeat;
	background-position: 0 6px;
	text-indent: 17px;
	cursor: pointer;
}

.fav_wrapper .content .fav_transcript {
	margin-bottom: 10px;
	border-bottom: 1px solid $tab-edging-colour;
	padding-bottom: 20px;
	background: #e7e5e7;
	border: 1px solid $tab-edging-colour;
	padding: 10px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	font-style: italic;
	width: 93%;
}

.fav_wrapper .content .fav_transcript p {
	margin-bottom: 10px;
}

.fav_container ul{
	list-style:none;
	margin-left: 0;
}
.notes_and_transcript .notes_title {
	margin-top: 20px;
}

.notes_and_transcript button {
	font-size: 12px;
    margin-bottom: 20px;
}


.favs_alert { 
    width:100px;
    position:absolute;
    right:0px;
    z-index:100000;
}

.export .favs_alert { 
	position:static;
	width: auto;
	right: 20px;
	display: none;
}

.export .favs_alert .email_error {
	padding:10px;
	background-color: #F7D2D6;
}

.export .favs_alert .download {
	float: right;
	padding:10px;
}