.more_info_modal {
	position: relative;
	margin-bottom: 10px;
	background: white;
	padding: 10px;
}

.more_info_modal .close{
	position: absolute;
	right: 10px;
	top: 10px;
	background-image: url($skin + "/btn_close.png");
	background-repeat: no-repeat;
	height: 30px;
	width: 30px;
	overflow: hidden;
	text-indent: -100px;
	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.more_info_modal h2 {
	font-size: 20px;
	border-bottom: 1px solid $tab-edging-colour;
	font-weight: lighter;
	margin-top: 0;
}
.more_info_modal h3 {
	font-size: 20px;
	margin-top: 0;
	line-height: 27px;
	color: $talking-jobs-red;
}

.more_info_modal b{
	display: block;
	margin-top: 20px;
}

.more_info_modal b:after{
	content: ":";
}

.then_image { 
    z-index: 1000;
    width: 100%;
    height: 100%;
    position: relative;
} 

.then_image img {
	width: 100%;
	height: 100%;
}