@import 'paths.scss';
@import '../libs/bootstrap.min.scss';
@import '../libs/bootstrap-responsive.min.scss';
@import '../libs/mediaelementplayer.scss';

@import 'structural.scss';
@import 'player.scss';
@import 'carousel.scss';
@import 'questions.scss';
@import 'tabs.scss';
@import 'information.scss';
@import 'favourites.scss';
@import 'welcome_modal.scss';