::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

.question_container {
	margin-top: 6px;
}

.question_type {
	height: 67px;
	padding: 0;
	margin-bottom: 6px;
}

.question_type span {
	display: block;
	padding-top: 25px;
}
	
.iScrollVerticalScrollbar  { 
    z-index:20;
}

.question_selector {
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	cursor: pointer;
	margin-bottom: 1px;
	position: relative;
}

.question_selector a,
.question_selector span{
	display: block;
	float: left;
}
	
.question_selector .number {
	font-size: 18px;
	padding: 10px;
	position: absolute;
	left: 10px;
	top: 7px;
}

.question_selector .question {
	padding: 10px;
	width: 70%;
	margin-left: 50px;
}

.question_selector .play-mode-questions {
	float: left;
	display: none;
	margin-left: 50px;
	font-size: 12px;
	padding-top: 0;
	padding-bottom: 0;
}

.question_selector .play-mode-questions .tj-label {
	display: block;
	float: left;
	padding-top: 0.4em;
	margin-right: 10px;
}

.question_selector .play-mode-questions .tj-icon {
	margin-top: 0.3em;
	background-image: url("../img/skin/icon_play.png");
	background-repeat: no-repeat;
	width: 26px;
	height: 26px;
	display: inline-block;
	overflow: hidden;
	text-indent: 40px;
	float: right;
}

.scroller_wrapper { 
	z-index: 1;
	position:absolute;
	background: #ccc;
	overflow: hidden;
	height:200px;
	margin-left:8px;
	width:100%;	

}

.lt-ie9 .scroller_wrapper { 
    overflow:auto;
    position:relative;
}

.question_scroller {
    position:absolute;
    min-height:200px;
    width:100%;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-o-text-size-adjust: none;
	text-size-adjust: none;
}

.question_scroller ul {
    list-style-type:none;
    margin-left:0px;
    padding-left:0px;
    /* Prevent elements to be highlighted on tap */
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.question_scroller .selected {
	background-color: white !important;
}

.question_scroller .selected .number{
	color: $talking-jobs-red;
}

.question_scroller .selected .question{
	color: $talking-jobs-red;
}

.question_scroller .selected .play-mode-questions {
	display: block;
}

/* Default: 940px and up  */
.scroller_wrapper  {
    width: 300px;
}


/* Landscape phones and down */
@media (max-width: 480px) { 
    .scroller_wrapper  {
        width: 279px;
    }
}
 
/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
    .scroller_wrapper  {
        width: 279px;
    }
}
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 940px) { 
    .scroller_wrapper  {
        width: 279px;
    }
}
 

/* Large desktop */
@media (min-width: 1210px) { 
	.scroller_wrapper  {
		width: 427px;
	}
 
}