/* --------------------------------------
Vars
-----------------------------------------*/
$tab-padding: 20px;
$tab-alert-padding: 5px;
$tab-alert-margin-bottom: $tab-padding - $tab-alert-padding;
/* --------------------------------------
Tabs. Right column.
First clear the syles applied by twiiter
bootstrap, as they're not needed for these tabs
-----------------------------------------*/
#tabs * {
	margin: 0;
	padding: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

#tabs {
	/*border-right: 1px solid $tab-edging-colour;*/
	background-color: $tab-off-colour; 
	position: relative;
	width: 168px;
}


	#tabs .tab_buttons a {
		border-bottom: 1px solid $tab-edging-colour;
		padding-left: 20px;
		padding-top: 20px;
		padding-bottom: 20px;
		display:block;
		position: relative;
	}
	
	#tabs .tab_buttons .active a{
		background-color: $tab-on-colour;
		color: $talking-jobs-red;
		font-weight: bold;	
	}
	
	#tabs .tab_buttons a,
	#tabs .tab_buttons a:link {
		color: $standard-text-colour;
	}
	
	#tabs .tab_buttons a:visited {
		
	}
	
	#tabs .tab_buttons a:hover {
		background-color: $tab-on-colour;
		color: $talking-jobs-red;
		/*border-left: 1px solid $tab-off-colour;*/
	}
	
	#tabs .tab_buttons a:active {
		
	}

	#tabs .favourites_tab_alert {
		bottom: 0;
		color: #ffffff;
		display: none;
		position: absolute;
		background-color: $talking-jobs-red;
		padding: $tab-alert-padding;
		right: 0;
		margin-bottom: $tab-alert-margin-bottom;
	}
	
	
	.tab_activities,
	.tab_about,
	.tab_reflections,
	.tab_favourites,
	.tab_have_a_quesiton {
		display: none;
	}
	
	
	.tab_reflections textarea {
		width: 90%;
		padding: 10px;
		min-height: 160px;
		max-width: 95%;
		margin-bottom: 40px;
		margin-top: 10px;
	}

.tab form {
	margin-bottom: 0;
}

.tab .content-container {
	border-top: 1px solid $tab-edging-colour;
	position: absolute;
	top: 190px;
	bottom: 105px;
	overflow: auto;
	width: 422px;
	padding-top: 10px;
}
.tab_about .content-container,
.tab_activities .content-container{
	top: 54px;
	bottom: 31px;
}

.tab .identify {
	border-bottom: 1px solid $tab-edging-colour;
	padding: 10px;
	background: #F7D2D6;
}

.tab .identify .notice {
	font-size: 12px;
	line-height: 16px;
	margin-bottom: 10px;
	
}

.tab .export {
	position: absolute;
	bottom: 31px;
	left: 0;
	z-index: 1;
	background-color: #DDDBDE;
	width: 414px;
	padding: 8px;
}

.tab fieldset {
	width: 100%;
}

.tab fieldset input[type=button]{
	width: auto;
	display:inline-block;
}

.tab fieldset input {

	margin-bottom: 0;
}

.tab .export {
	min-height: 55px;
}

.tab .export button {
	clear: left;
}


.tab .export .button-set,
.tab .export fieldset {
	position: absolute;
	bottom: 8px;
}

.tab .export fieldset {
	left: 8px;
}

.tab .export .button-set {
	right: 8px;
}

.tab_have_a_quesiton .content-container * {
	display: block;
}

.tab_have_a_quesiton .content-container textarea {
	width: 95%;
	max-width: 95%;
	min-width: 95%;
	min-height: 200px;
}

.tab h1 {
	font-size: 20px;
	color: #4A4A4A;
	font-weight: lighter;
}

	@media only screen  and (max-width: 480px) {
		.tab .content-container {
			position: relative;
		}
		
		#tabs {
			display:none;
		}
	}
	
	
	@media only screen  and (min-width: 481px)  and (max-width: 767px) {
		#player,
		#tabs{
			float: left;
		}
		
		#tabs{
			width: 166px;
		}
		
		.question_container .span5 {
			width: 286px;
		}
		
		.question_container .span2{
			float: left;
		}
		
		.question_container .span5 {
			float: right;
		}
		
		.tab .content-container {
			width: 405px;
		}
		
		.tab .export {
			width: 398px;
		}
	}
	/*
	@media only screen and (min-width: 1200px) {
		.tab .export {
			width: 540px;
		}
		
		.tab .content-container {
			width: 548px;
		}
	}
	*/